<nav class="sticky-top navbar navbar-expand-lg navbar-dark bg-secondary rounded mb-3">
    <a class="navbar-brand" href="/">GCEC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse float-center" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle <%=  (title =='Liste des conseils' || title =='Ajout de conseil') ? 'active' : '' %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Conseil
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/addConseil">Ajout conseil</a>
                    <a class="dropdown-item" href="/conseilList">Liste des conseils</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle <%=  (title =='Ajout commission' || title =='Liste des commissions') ? 'active' : '' %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Commission
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/addCommission">Ajout commission</a>
                    <a class="dropdown-item" href="/commissionList">Liste des commissions</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Session</a>
            </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <form action="/logout" method="post">
            <button class="btn btn-warning" type="submit">Se deconnecter</button>
        </form>
    </div>
</nav>


<!-- <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
      </div> -->