<!DOCTYPE html>
<html>
<%- include('includes/head'); %>

<body>
  <header>
    <%- include('includes/navbar'); %>
  </header>
  <div class="container">
    <h1>GCEC</h1>
    <p>Ceci est une application pour la gestion des conseils et ses commissions</p>
    <p><a class="btn btn-primary" href="/"> Connectez-vous </a> pour pouvoir modifier les instance</p>
  </div>



  <%- include('includes/scripts.js') %>
</body>

</html>