<!DOCTYPE html>
<html>
<%- include('includes/head'); %>

<body>
  <header>
    <%- include('includes/navbar'); %>
  </header>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-3">GCEC</h1>
      <p class="lead">Ceci est une application pour la gestion des conseils et ses commissions</p>
      <p class="lead">Identifiez-vous pour pouvoir modifier les differentes instances</p>
      <p><a class="btn btn-lg btn-success" href="/login" role="button">Connectez-vous</a></p>
    </div>

    <!-- <div class="row marketing">
      <div class="col-lg-6">
        <h4>Subheading</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4>Subheading</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
          fermentum.</p>

        <h4>Subheading</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>

      <div class="col-lg-6">
        <h4>Subheading</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4>Subheading</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
          fermentum.</p>

        <h4>Subheading</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div> -->
    </div>

  </div>

  <%- include('includes/scripts.js') %>
</body>

</html>